<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List Cars</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Brand</td>
            <td>Released year</td>
            <td>Cost</td>
            <td>Action</td>
        </tr>
        <% for (let i = 0; i < obj.car.length; i++) { %>
            <tr>
                <td><%=obj.car[i].name %></td>
                <td><%=obj.car[i].merk %></td>
                <td><%=obj.car[i].released_year %></td>
                <td><%= getRupiahIDR(obj.car[i].cost)%></td>
                <td>
                    <button>
                        <a href="/cars/<%=obj.customer.username%>/purchaseForm/<%=obj.car[i].id%>">Purchase Form</a>
                    </button>
                    <button>
                        <a href="/cars/<%=obj.customer.username%>/<%=obj.car[i].id%>/delete" onclick="return confirm('Are you sure to remove this Car from the list?');">Delete</a>
                    </button>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>